body * {
  background: rgba(0,0,0,.25);
}

article:nth-child(1){
  right: -30px;
  bottom: 0px;
  position: absolute;
}

article {
  border: 1px solid red;
  width: 50px;
  height: 50px;
}

div{
  width: 200px;
  height: 200px;
}

section {
  width: 400px;
  height: 400px;
  position: relative;
}
