.caixa {
  width: 200px;
  height: 200px;
  background: red;
  top: 10px;
  position: fixed;
}

.caixa2 {
  width: 200px;
  height: 200px;
  background: blue;
  top: 10px;
  position: fixed;
}

.rolagem {
  position: relative;
  width: 1px;
  height: 5000px;
}
