html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

div{
  width: 200px;
  height: 200px;
  background: red;
  position: fixed;
}

body:hover div{
  transform: rotate(90deg);
  background: green;
  height: 800px;
  border-radius: 50%;
}

div:nth-child(1){
  transition: 1s 2s;
}

div:nth-child(2){
  transition: 1s;
}







/**/
