html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

div{
  width: 200px;
  height: 200px;
  background: red;
  position: fixed;
}

body:hover div{
  transform: rotate(90deg) translateX(400px);
  background: green;
  border-radius: 50%;
}

div:nth-child(2){
  transition: 1s cubic-bezier(.77,-0.64,.41,1.63);
}

div:nth-child(1){
  transition: 1s;
}







/**/
