@keyframes vpular{
  0%{
    bottom:0;
  }
  100%{
    bottom: 300px;
  }
}
@keyframes hpular{
  0%{
    left:0;
  }
  100%{
    left: 600px;
  }
}

div{
  width: 200px;
  height: 200px;
  position: fixed;
}

div:nth-child(1){
  background: red;
  bottom: 0;
  left: 300px;
}

div:nth-child(2){
  background: skyblue;
  border-radius: 50%;
  bottom: 0;
  left: 0px;
  animation:  hpular 1s linear forwards,
              vpular .5s 2 cubic-bezier(0,.33,.67,1) alternate forwards;
}
