.zumbi {

  border: red 10px solid;
  border-width: 10px 10px 10px 120px;
  border-color: red green red pink;
  background: hsl(0, 0%, 30%);
  width: 300px;
  color: white;
  /*padding: 20px;*/
  /*padding: 10px 50px;*/
  padding: 10px 60px 40px 120px;
  /*padding-top: 10px;*/
  padding-right: 120px;
  padding-bottom: 20px;
  /*padding-left: 300px;*/
  text-align: center;

}

.zumbi img {
  width: 300px;
}
